

$primarycolor:#F9F4F4;
$secondarycolor: rgb(119, 119, 119);
$black : #000;
$fontcolor: #4F4F4F;
$border:.2rem solid rgba(255,255,255,.3);

*{
    font-family: 'Roboto', monospace;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
 }


 header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: $primarycolor;
    padding:1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;

    #menu-btn{
        display: none;
    }

    .logo{
        top:3rem; left:48.5%;
        
  
        img{
           width: 8rem;
        }
    }
    .navbar{
        a{
         font-size: 1.2rem;
         margin:0 1rem;
         color: $fontcolor;
         margin-right: 80px;
        }
        #btn{
            margin-left: 5rem;
            background: $black;
            color: #F9F4F4;
            padding:0.2rem 3rem;
            border-radius: 50px;
            font-weight: bold;
        }
    }
    
 }


/*  Media queris */

@media (max-width:1200px){

    .header{
       padding:1rem;
    }
 
 
 }

 @media (max-width:991px){

    .header{
        justify-content: flex-end;
        gap:2rem;

        #menu-btn{
            display: inline-block;
            margin-left: 2rem;
            font-size: 2rem;
            cursor: pointer;
            &:hover{
                color:$secondarycolor;
            }
        }

        .logo{
            display: block;
            width: 100%;
            margin-left: 2rem;
            left: 0%;
            transform: translateX(0%);
        }
        .navbar{
           position: absolute;
           top:99%; left:0; right:0;
           background: $primarycolor;
           clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

           &.active{
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
           }
  

           #btn{
               margin: 4% 2rem;
               width: 250px;
               a{
                   font-size: 1px;
                   display: flex;
                  
               }
           }
           a{
              display: block;
              margin:.5rem 2rem;
              padding: 1rem;
              &:hover{
                background-color: #ffff;
            }
           }
        }
     }

 }